:root {
    /*common across everything*/
    --color-outline: #D9D3BF;
    --color-backdrop: #8bb54a;
    --color-backdrop-hover: #45a049;

    --color-card-background: #77746c;
    --color-white: white;
    --color-scrollbar: #5b6367;
    --color-scrollbar-hover: #555;
}

body {
    background-size: 50%;
    background-color: darkgrey;
    background-image: url(/img/pokemon/backgrounds/background_line_art_1.jpg), url(/game-numbers/img/pokemon/backgrounds/background_line_art_1.jpg);
    background-blend-mode: multiply;
}

i {
    vertical-align: bottom;
}


.gameboard {
    /*game board specific*/
    --num-cols: 4;
    --num-rows: 4;
    --tile-length: 3rem;
    --max-chain-length-x: 0;
    --max-chain-length-y: 0;

    background-color: var(--color-outline);
    filter: drop-shadow(2px 4px 6px black);

    border-color: var(--color-backdrop);
    border-width: calc(var(--tile-length) * .4);
    border-style: solid;
    /*centers when position:absolute*/
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: calc((var(--num-rows) + .8*var(--max-chain-length-y)) * var(--tile-length));
    width: calc((var(--num-cols) + .8*var(--max-chain-length-x)) * var(--tile-length));
    aspect-ratio: 1;
    /*width: 80%;*/
    z-index: -100;
    /*transform: scale(1);*/
}

.tile {
    /*tile x/y are set per tile*/
    --tile-x: -1;
    --tile-y: -1;
    top: calc(var(--tile-length) * (var(--tile-y) + .8*var(--max-chain-length-y)));
    left: calc(var(--tile-length) * (var(--tile-x) + .8*var(--max-chain-length-x)));
    width: var(--tile-length);
    aspect-ratio: 1;
    /*height: var(--tile-length);*/
    /*padding: 0;*/
    /*background-color: darkseagreen;*/
    /*border-color: green;*/
    border-width: thick;
    font-size: larger;
    border-radius: 0.5rem;
    position: absolute;
    /*transition: background-color .3s ease-in, filter 1.5s, top 2s, left 2s;*/
    z-index: 20;
    background-color: green;
    color: var(--color-white);
}

.tile.click1 {
    border-color: darkblue;
    background-color: blue;
    color: var(--color-white);
    border-width: unset;
}

.tile.click2 {
    border-color: darkred;
    background-color: red;
    color: var(--color-white);
    border-width: unset;
}

.tile:hover {
    border-color: darkgreen;
    border-width: .1rem;
}

.header-tile {
    /*background-color: var(--color-outline);*/
    color: black;
    --tile-x: -1;
    --tile-y: -1;
    --chain-length-x: 0;
    --chain-length-y: 0;
    width: var(--tile-length);
    height: var(--tile-length);
    position: absolute;
    z-index: 20;
    padding: 0;
}

ul.header-tile.vertical {
    top: calc(var(--tile-length) * (.5 + var(--tile-y) + .3 * var(--max-chain-length-y)));
    left: calc(var(--tile-length) * (var(--tile-x) + .8*var(--max-chain-length-x)));
    list-style: none;
    margin: 0;
}

ul.header-tile.horizontal {
    top: calc(var(--tile-length) * (var(--tile-y) + .8*var(--max-chain-length-y)));
    left: calc(var(--tile-length) * (var(--tile-x) + .8*var(--max-chain-length-x)));
    list-style: none;
    direction: rtl;
}

ul.header-tile.vertical > li {
    text-align-last: center;
    padding: 5px;
}

ul.header-tile.horizontal > li {
    margin-right: 1rem; /* add spacing between items */
    /*display: inline-block; !* horizontal list *!*/
    display: contents;
    float: right;
    padding: 5px;
}

li > .badge {
    background-color: grey;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    text-align: center;
    margin: 5px;
}